<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144260798445-rempm64rmq4pvr6h55a6eddloq9fsf43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144260798445-rempm64rmq4pvr6h55a6eddloq9fsf43</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>144260798445-20dqj5q6m7o92kgq89jnku63no3aa9dh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDN_oConeN1zLN-_FxLgIgRXhjLh16SFN0</string>
	<key>GCM_SENDER_ID</key>
	<string>144260798445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBoilerplate</string>
	<key>PROJECT_ID</key>
	<string>authentication-afa13</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-afa13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144260798445:ios:83eb7bdf348d248c7c79e4</string>
</dict>
</plist>